#header{
	position: absolute;
	top: 0;
	left: 0;
	width: 40%;
	height: 10%;
	text-align: center;
}

#nav{
	position: absolute;
	top: 10%;
	left: 0;
	width: 40%;
	height: 90%;
}

#preview{
	position: absolute;
	top: 0;
	left: 40%;
	width: 60%;
	height: 100%;
}

#info{
	position: absolute;
	padding: 10px;
	top: 90%;
	left: 40%;
	width: 60%;
	height: 10%;
	text-align: center;
	font-size: 1vw;
	background-color: rgba(128,128,128,0.8);
	color: white;
    text-shadow: 2px 2px #000;
}
#note{
    width: 90%;
    padding: 5%;
}
.slide_btn{
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
    height: 5%
}
body {
    font-family: 'Droid Serif';
}
h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}
.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}
